@font-face {
  font-family: "CeraRoundPro Bold";
  src: url(../fonts/CeraRoundProBold.ttf) format("ttf"),
    url(../fonts/CeraRoundProBold.woff2) format("woff2");
}

@font-face {
  font-family: "CeraRoundPro Medium";
  src: url(../fonts/CeraRoundProMedium.ttf) format("ttf"),
    url(../fonts/CeraRoundProMedium.woff2) format("woff2");
}
@font-face {
  font-family: "CeraRoundPro Regular";
  src: url(../fonts/CeraRoundProRegular.ttf) format("ttf"),
    url(../fonts/CeraRoundProRegular.woff2) format("woff2");
}
@font-face {
  font-family: "Geometria";
  src: url(../fonts/GeometriaMedium.ttf) format("ttf"),
    url(../fonts/GeometriaMedium.woff2) format("woff2");
}